/* 
    Config options can be shown by running:
    rofi -dump-config > /path/to/file 
*/
configuration {
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "./theme.rasi"
